<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<dict>
	<key>en</key>
	<string>Welcome to {redacted}!</string>
	</dict>	

	<key>icon</key>
	<string>redacted</string>

	<key>message</key>
	<dict>
	<key>en</key>
	<string>Please be patient while we configure your Mac.</string>
	</dict>

	<key>background</key>
	<string>redacted</string>

	<key>enrollmentActions</key>
	<array>

		<dict>
			<key>label</key>
  			<string>Rosetta 2</string>
 			<key>icon</key>
  			<string>redacted</string>
	  		<key>policy</key>
	  		<string>installRosetta</string>
			<key>watchPath</key>
	  		<string>/Library/Apple/System/Library/Receipts/com.apple.pkg.RosettaUpdateAuto.bom</string>
	  		<key>wait</key>
			<integer>300</integer>
		</dict>

		<dict>
			<key>label</key>
  			<string>Jamf Connect</string>
 			<key>icon</key>
  			<string>redacted</string>
  			<key>policy</key>
  			<string>installJamfConnect</string>
			<key>watchPath</key>
	  		<string>/Applications/Jamf Connect.app</string>
	  		<key>wait</key>
			<integer>900</integer>
		</dict>

		<dict>
			<key>label</key>
  			<string>Swift Dialog</string>
 			<key>icon</key>
  			<string>redacted</string>
  			<key>policy</key>
  			<string>installSwiftDialog</string>
			<key>watchPath</key>
	  		<string>/Applications/Jamf Connect.app</string>
	  		<key>wait</key>
			<integer>900</integer>
		</dict>

		<dict>
			<key>label</key>
  			<string>DisplayLink Manager</string>
 			<key>icon</key>
  			<string>redacted</string>
  			<key>policy</key>
  			<string>installDisplayLinkManager</string>
			<key>watchPath</key>
	  		<string>/Applications/DisplayLink Manager.app</string>
	  		<key>wait</key>
			<integer>300</integer>
		</dict>

		<dict>
			<key>label</key>
  			<string>Google Chrome</string>
 			<key>icon</key>
  			<string>redacted</string>
  			<key>policy</key>
  			<string>installGoogleChromePkg</string>
			<key>watchPath</key>
	  		<string>/Applications/Google Chrome.app</string>
	  		<key>wait</key>
			<integer>300</integer>
		</dict>

		<dict>
			<key>label</key>
  			<string>Google Drive</string>
 			<key>icon</key>
  			<string>redacted</string>
  			<key>policy</key>
  			<string>installGoogleDrive</string>
			<key>watchPath</key>
	  		<string>/Applications/Google Drive.app</string>
	  		<key>wait</key>
			<integer>300</integer>
		</dict> 
                
        <dict>
	  		<key>label</key>
	  		<string>Slack</string>
	  		<key>icon</key>
	  		<string>redacted</string>
	  		<key>policy</key>
	  		<string>installSlack</string>
			<key>watchPath</key>
	  		<string>/Applications/Slack.app</string>
	  		<key>wait</key>
			<integer>300</integer>
		</dict>

	</array>
	<key>finalAction</key>
	<string>continue</string>
</dict>
</plist>
