<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>AllowNetworkSelection</key>
<true/>
<key>OIDCProvider</key>
<string>Okta-OIDC</string>
<key>OIDCRedirectURI</key>
<string>https://127.0.0.1/jamfconnect</string>
<key>OIDCDiscoveryURL</key>
<string>redacted</string>
<key>OIDCClientID</key>
<string>redacted</string>
<key>OIDCROPGID</key>
<string>redacted</string>
<key>OIDCTenant</key>
<string>redacted</string>
<key>OIDCAdminAttribute</key>
<string>groups</string>
<key>OIDCAdmin</key>
<array>
<string>IT</string>
<string>app.jamfConnect.Admin</string>
</array>
<key>LocalFallback</key>
<false/>
<key>DenyLocal</key>
<true/>
<key>OIDCUsePassthroughAuth</key>
<true/>
<key>CreateJamfConnectPassword</key>
<true/>
<key>OIDCNewPassword</key>
<false/>
<key>Migrate</key>
	<true/>
	<key>MigrateUsersHide</key>
	<array>
	<string>redacted</string>
	</array>
<key>AllowNetworkSelection</key>
	<true/>
<key>OIDCSecondaryAccess</key>
<array>
<string>IT</string>
</array>
</dict> 
</plist>
